*.(0).cnf.cdb
/mgmsp.(0).cnf.hdb
*.(1).cnf.cdb
/mgmsp.(1).cnf.hdb
/mgmsp.(10).cnf.cdb
/mgmsp.(10).cnf.hdb
/mgmsp.(11).cnf.cdb
/mgmsp.(11).cnf.hdb
/mgmsp.(2).cnf.cdb
/mgmsp.(2).cnf.hdb
/mgmsp.(3).cnf.cdb
/mgmsp.(3).cnf.hdb
/mgmsp.(4).cnf.cdb
/mgmsp.(4).cnf.hdb
/mgmsp.(5).cnf.cdb
/mgmsp.(5).cnf.hdb
/mgmsp.(6).cnf.cdb
/mgmsp.(6).cnf.hdb
/mgmsp.(7).cnf.cdb
/mgmsp.(7).cnf.hdb
/mgmsp.(8).cnf.cdb
/mgmsp.(8).cnf.hdb
/mgmsp.(9).cnf.cdb
/mgmsp.(9).cnf.hdb
/mgmsp.cbx.xml
/mgmsp.cmp.rdb
/mgmsp.db_info
/mgmsp.hier_info
/mgmsp.hif
/mgmsp.lpc.html
/mgmsp.lpc.rdb
/mgmsp.lpc.txt
/mgmsp.map.cdb
/mgmsp.map.hdb
/mgmsp.map.logdb
/mgmsp.map.qmsg
/mgmsp.pre_map.cdb
/mgmsp.pre_map.hdb
/mgmsp.rtlv.hdb
/mgmsp.rtlv_sg.cdb
/mgmsp.rtlv_sg_swap.cdb
/mgmsp.sgdiff.cdb
/mgmsp.sgdiff.hdb
/mgmsp.sld_design_entry_dsc.sci
/mgmsp.syn_hier_info
/mgmsp.tis_db_list.ddb
